<mat-toolbar color="primary" class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">
        Usuários
    </button>
    <button mat-button routerLink="/dashboard" *ngIf="isAuthenticated()">
        Dashboard
    </button>
    <button mat-button routerLink="/about" *ngIf="isAuthenticated()">
        About
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated()" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>
