# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# arquivos e diretórios gerados pelo Angular CLI
/dist/
/node_modules/
/e2e/

# arquivos de compilação TypeScript
*.js
*.js.map

# arquivos de configuração do Angular CLI
.angular-cli.json
.angular-cli.js
angular.json

# arquivos de dependências do npm e Yarn
package-lock.json
yarn.lock

# arquivos temporários e de compilação
*.log
npm-debug.log*

# arquivos de configuração do sistema
*.iml
*.DS_Store

# arquivos de cache
.cache/
.cachedData/

# arquivos de ambiente local (por exemplo, .env)
.env

# arquivos de build do Angular Universal
/dist-server/
/dist-server.js

