<mat-dialog-content class="mat-typography">
  <mat-card-content>
    <form fxLayout="column" #registrationForm="ngForm" (ngSubmit)="handleSubmit(registrationForm)">

      <h2 mat-dialog-title>{{operation}} do Carro</h2>


      <section fxLayoutGap="10px grid">
        <mat-form-field fxFlex="100/2" appearance="fill">
          <mat-label>Ano do Carro</mat-label>
          <input matInput [(ngModel)]="car.year" name="carYear" required>
        </mat-form-field>

        <mat-form-field fxFlex="100/2" appearance="fill">
          <mat-label>Placa do Carro</mat-label>
          <input matInput [(ngModel)]="car.licensePlate" name="carLicense" required>
        </mat-form-field>
      </section>


      <section fxLayoutGap="10px grid">
        <mat-form-field fxFlex="100/2" appearance="fill">
          <mat-label>Modelo do Carro</mat-label>
          <input matInput [(ngModel)]="car.model" name="carModel" required>
        </mat-form-field>

        <mat-form-field fxFlex="100/2" appearance="fill">
          <mat-label>Cor do Carro</mat-label>
          <input matInput [(ngModel)]="car.color" name="carColor" required>
        </mat-form-field>
      </section>


      <mat-form-field appearance="fill">
        <mat-label>Quantidade de usos</mat-label>
        <input matInput [(ngModel)]="car.usageCount" name="usageCount" readonly>
      </mat-form-field>

      <button mat-raised-button color="primary" class="car-button"
              type="submit">{{ operation === Operation.Create ? 'Cadastrar' : 'Atualizar' }}</button>
    </form>
  </mat-card-content>
</mat-dialog-content>
