.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.reload-button {
  text-align: right;
}

.active-car {
  font-weight: bold;
  color: green;
}

.inactive-car {
  font-weight: bold;
  color: red;
}

.carId-column {
  flex: 0 0 20px;
}
